.widget {
  z-index: 100;

  &.item-picker {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 2px;
    background: #e1e1e1;

    .row {
      display: flex;
      flex-direction: row;

      .item {
        height: 28px;
        line-height: 24px;
        border: 1px solid #4f4f4f;
        background: #d3d3d3;
        margin: 2px;
        padding: 1px;
        overflow: hidden;
        text-align: center;
      }
      .item:hover {
        border-color: @colorRed;
      }
    }
  }

  &.categorized-item-picker {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    justify-content: flex-end;

    .hidden {
      display: none;
    }

    .item-picker-categories {
      position: absolute;
      left: 8px;
      width: 45%;
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-right: 8px;

      .category {
        &.active {
          text-shadow: 0 0 8px blue;
        }

        a {
          h2 {
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
    }

    .item-picker-items {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: 50%;

      .item {
        border: 1px solid @colorDark;
        border-radius: 2px 2px 2px 0px;
        background: rgba(0, 0, 0, 0.05);
        height: 20px;
        line-height: 20px;
        padding: 0 10px;
        margin: 1px 0;
        cursor: pointer;

        &:hover {
          border-color: @colorRed;
          color: @colorRust;
        }
      }
    }
  }
}

.pf1-tooltip {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  pointer-events: none;
  z-index: 1000;

  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
  background: url("/ui/denim075.png") repeat;
  color: #f0f0e0;

  .controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
    z-index: 1;

    button {
      pointer-events: auto;
      flex: 0 0 32px;
      width: 32px;
      height: 28px;
    }
  }

  .portrait {
    display: flex;
    justify-content: space-around;

    img {
      border: none;
    }
  }

  .conditions,
  .buffs,
  .held-items {
    display: grid;
    grid-template-columns: auto auto;

    .condition,
    .held-item {
      flex: 0 0 50%;
    }
    .buff {
      flex: 0 0 100%;
    }

    .condition,
    .buff,
    .held-item {
      display: flex;
      align-items: center;
      min-width: 220px;

      img {
        width: 16px;
        height: 16px;
      }

      span {
        margin-left: 4px;
      }
    }
  }
}
